    header, h1, h2, button {
        text-transform: uppercase; /* Makes all text uppercase */
        font-weight: bold;
    }


    header {
        background-color: #000000;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }

    h1, h2 {
        font-weight: bold; /* Ensure both headers are not bold */
    }

    /* Apply styles directly to all buttons */
    button {
        margin-left: auto;
        font-family: 'Helvetica', sans-serif;
        padding: 5px 5px;
        background-color: transparent; /* Clear background */
        border: none; /* No border */
        color: white; /* Text color */
        cursor: pointer; /* Pointer on hover */
        font-size: 16px; /* Font size */
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    button:hover {
        background-color: white;
        color: black;
    }

    .button-on-white: {
            color: #808080;
    }

    .button-on-white:hover {
            color: black;
    }

    .nav-buttons {
        display: flex; /* Align buttons side by side */
    }

    .nav-buttons a {
        margin-right: 10px; /* Add space between buttons */
    }

    .social-icons a {
        color: white; /* Icon color */
        margin-left: 10px; /* Space between icons */
        text-decoration: none; /* Remove underline from links */
    }

    .social-icons img {
        width: 20px; /* Adjust the size of the icon */
        height: 20px; /* Maintain aspect ratio */
        vertical-align: middle; /* Align the icon with text */
    }

    /* Style for the to-do list container */
    #todoContainer {
        max-width: 400px;
        margin: 0 auto;
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    /* Style for the input field */
    #taskInput {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    /* Style for the to-do list */
    #todoList {
        list-style: square;
        color: 808080;
        padding: 0;  /* Remove default padding */
    }

    /* Style for each list item */
    #todoList li {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
        background: #f9f9f9;
        transition: background 0.3s;
        cursor: pointer;  /* Change cursor on hover */
    }

    /* Change background color on hover */
    #todoList li:hover {
        background: #e0e0e0;
    }

    /* Style for removed tasks (optional) */
    .removed {
        text-decoration: line-through;  /* Strikethrough effect */
        color: #aaa;  /* Lighter color for removed tasks */
    }
