:root {
  --gc1: rgba(0, 0, 0);
  --gc2: rgba(71, 69, 135, 0.6);
  --gc3: rgba(0, 0, 0);
  --muralwidth: 5507px;
  --muralheight: 1020px;
  --zoom: 1.0;
}
body {
    padding: 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
.bg{
    position: fixed;
    inset: 0%;
    background-image: url('../assets/looping-mural_optimized.png'); /* upscaled w/ waifu2x */
    background-size: var(--muralwidth) var(--muralheight);
    background-repeat: repeat-x;
    z-index: -1;
    width: 200%;
    animation: scroll 120s linear infinite;
    zoom: var(--zoom); /* best fix i could find for the loop chopping was just to return the wallpaper to native resolution, move it by a set amount of pixels, and then zoom in */

}.bg::after { /*bg overlay*/
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg,var(--gc1), var(--gc2), var(--gc3));
    pointer-events: none;
}

@keyframes scroll {
  from { background-position-x: var(--muralwidth); }
  to { background-position-x: 0 }
}

h1 {
    text-align: center;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}